.Footer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(90deg, var(--Pink), var(--Blue));
  cursor: pointer;
  z-index: 1;
}

.FooterContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin-right: 1rem;
}

.FooterContent > h1 {
  font-size: 1em;
  text-transform: uppercase;
}

.FooterContent>p {
  font-size: 1em;
  margin-top: 0.4rem;
}

.PremiumButton,
.PremiumButton>a {
  color: var(--Blue);
  width: 250px;
  height: auto;
}

.PremiumButton:hover>a {
  color: white;
}

@media screen and (max-width: 768px) {
  .Footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .FooterContent>h1,
  .FooterContent>p {
    font-size: 0.7em;;
  }

  .PremiumButton {
    margin: 1rem 0 0.5rem 0;
  }
}