.NavToolbar {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  max-height: 100vh;
  background-color: black;
  z-index: 1;
}

.NavLogo {
  padding: 2rem;
}

.NavLogo > img {
  width: 131px;
  height: auto;
}

.NavItem {
  font-size: medium;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.NavItem:last-child svg {
  height: 30px;
  padding: 8px;
}

.NavItem:last-of-type > span > svg {
  background: linear-gradient(30deg, white 10%, mediumpurple 90%);
  border-radius: 3px;
}

.NavItem:nth-child(3) {
  margin-bottom: 1.5rem;
}

.NavItem:hover {
  background-color: var(--Gray);
}

.UserPlaylists {
  color:var(--LightGray);
  cursor: pointer;
  overflow-y: scroll;
  padding:0;
  margin-left: 2.5rem;
  margin-bottom: 0;
}

.PlaylistItem {
  padding: 0.5rem 0;
}

.PlaylistItem:hover {
  color: white;
}

.UserPlaylists::-webkit-scrollbar {
  width: 13px;
}

.UserPlaylists::-webkit-scrollbar-track {
  background-color: transparent;
}

.UserPlaylists::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
  background-color: var(--Gray);
  height: 50%;
}

.UserPlaylists::-webkit-scrollbar-thumb:hover {
  background-color: var(--LightGray);
}
