.NavHeader {
    width: 100%;
    max-height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--Gray);
}

.NavArrows>button>svg {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
}

.NavLeftArrow,
.NavRightArrow {
    border-radius: 50%;
    background-color: var(--Black);
    margin: 0 0.2rem;
}

.NavLogin,
.NavSignup {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.NavLogin {
    background-color: white;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    margin: 0 1rem;
    color: var(--Black);
}

.NavLogin:hover {
    background-color: var(--Green);
}

.NavRightArrow>svg:hover,
.NavLeftArrow>svg:hover,
.NavSignup:hover {
    color: var(--Green);
}