.NavHeader {
  width: auto;
  max-height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
}

.NavArrows {
  display: flex;
}

.NavArrows > button > svg {
  color: white;
  padding: 0.2rem;
}

.NavLeftArrow,
.NavRightArrow {
  border-radius: 50%;
  background-color: var(--DarkGray);
  margin: 0 0.2rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavRightArrow > svg:hover,
.NavLeftArrow > svg:hover {
  color: var(--Green);
}
