.Header {
    display: flex;
    justify-content: space-between;
}

.Header>h1 {
    font-size: 1.2em;
    color:white;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.Header>h1:hover {
    border-bottom: 1px solid white;
}

.Header>button {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--LightGray);
    border-bottom: 1px solid transparent;
}

.Header>button:hover {
    border-bottom: 1px solid var(--LightGray);
}