.Browse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Message {
  margin: 3rem;
}

.Message > p {
  color: var(--LightGray);
  font-size: 1em;
}

.Logo > img {
  margin: 1rem 0;
  width: 100px;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .Message > p {
    font-size: 1.2em;
  }

  .Logo > img {
    display: none;
  }
}
