.Browse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
}

.Message {
  margin: 3rem;
}

.Message > p {
  color: var(--LightGray);
  font-size: 1em;
}

.Logo > img {
  margin: 1rem 0;
  width: 100px;
  height: auto;
}

.BrowseMainSection {
  width: 100%;
  background-color: rgb(124, 109, 232);
  background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--Black) 100%),var(--backgroundNoise);
  transition: background 1s ease;
}

@media screen and (min-width: 1024px) {

  .Message > p {
    font-size: 1.2em;
  }

  .Logo > img {
    display: none;
  }
}
